<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mFIR_IOS_USE_COREDATA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F566344B1E88C65E00C580C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F56634621E88C65F00C580C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F566346D1E88C65F00C580C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
